:root {
    --font-family-base: "Manrope", sans-serif;
    --font-family-accent: "Playfair Display", serif;

    --color-bg-default: #29294e;
    --color-bg-muted: #ffffff33;
    --color-bg-menu: #e9e9e9;


    --color-text-on-dark: #ffffff;
    --color-text-on-light: #151529;
    --color-text-muted: #718096;

    --color-shadow: #29294e64;

    --color-bg-card: #ffffff;
    --color-border-card: #efefef;

    --color-bg-sidebar: #f8f9fa;

    --color-accent: #7a42b5;
}
