* {
    font-family: var(--font-family-base);
}

@font-face {
    font-family: 'Manrope', sans-serif;
    src: url('./assets/fonts/Manrope.ttf') format('opentype');
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url('./assets/fonts/PlayfairDisplay.ttf') format('opentype');
}